@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Circe';
  src: url('/assets/fonts/Circe/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
  url('/assets/fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Circe/Circe-Regular.woff2') format('woff2'),
  url('/assets/fonts/Circe/Circe-Regular.woff') format('woff'),
  url('/assets/fonts/Circe/Circe-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Circe';
  src: url('/assets/fonts/Circe/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
  url('/assets/fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/Circe/Circe-Bold.woff2') format('woff2'),
  url('/assets/fonts/Circe/Circe-Bold.woff') format('woff'),
  url('/assets/fonts/Circe/Circe-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// обнуление
@import "nulling.scss";

// миксины
@import "mixins.scss";

body {
  background-color: white;
  color: black;
  font-family: Roboto, Circe, serif;
  min-height: 100vh;
}

.auten {

  &-header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 172px;
    background: #f2f2f6;
    margin-bottom: 50px;
    font-size: 75px;
  }

  &-container {
    max-width: 1124px;
    margin: 0 auto;
    padding: 0 40px;
  }

  &-main {
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 97px;
  }

  &-ordering {
  }

  &-cart {
    margin-bottom: 60px;
    width: 603px;

    &__title {
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 20px;
      border-bottom: 1px solid #bcbec0;
    }

    &__items {
    }
  }

  &-cart-item {
    display: grid;
    grid-template: "image title   delete" auto
                   "image article ......" auto
                   "image price   ......" auto
                   "image params  params" 1fr
                  / 100px auto    auto;
    column-gap: 10px;
    padding: 10px 0;
    border-bottom: 1px solid #bcbec0;
    font-weight: 350;

    &__image {
      grid-area: image;
      max-height: 126px;
    }

    &__title {
      grid-area: title;
      font-size: 16px;
      font-weight: 350;
      white-space: nowrap;
      margin-bottom: 10px;
    }

    &__delete {
      grid-area: delete;
      color: #939598;
      font-size: 14px;
      align-self: center;
      justify-self: end;
      white-space: nowrap;
      margin-bottom: 10px;
      cursor: pointer;
      user-select: none;
    }

    &__article {
      grid-area: article;
      color: #939598;
      font-size: 14px;
      white-space: nowrap;
      margin-bottom: 16px;
    }

    &__price {
      grid-area: price;
      font-size: 16px;
      color: #1A2026;
      white-space: nowrap;
    }

    &__params {
      grid-area: params;
      display: flex;
      align-items: center;
      align-self: end;
    }

    &__color {
      width: 21px;
      height: 20px;
      margin-right: 24px;
    }

    &__size {
      padding: 7px 12px;
      border: 1px #414042 solid;
    }

    &__amount {
      display: flex;
      flex-direction: row;
      padding: 7px 12px;
      border: 1px #414042 solid;
      gap: 17px;
      margin-left: auto;
      width: 82px;
    }
  }

  &-plus-button, &-minus-button {
    cursor: pointer;
  }

  &-amount {
    width: auto;
  }

  &-pre-promo {
    display: none;
    width: 100%;
    height: 48px;
    border: 1px solid #939598;
  }

  &-promo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 515px;
    height: 68px;
    align-items: end;
    position: relative;
    margin-bottom: 30px;

    &__title {
      position: absolute;
      color: #939598;
      font-size: 14px;
      font-weight: 350;
      top: 0;
      left: 0;
    }

    &__field {
      min-width: 340px;
      border: 1px solid #939598;
      padding: 16px;
      height: 48px;
      font-size: 14px;
    }
  }

  &-authorization-tip {
    display: none;
    width: 515px;
    background-color: #F5F5F5;
    padding: 16px;
    height: 44px;
    font-size: 16px;
    font-weight: 350;
    line-height: 22.4px;

    & a {
      font-weight: 400;
      color: #8CBA51;
      text-decoration: underline #8CBA51
    }
  }

  &-bonuses {
    //display: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 515px;
    height: 48px;
    align-items: end;
    position: relative;
    margin-bottom: 30px;

    &__field {
      display: flex;
      justify-content: space-between;
      min-width: 340px;
      padding: 16px;
      height: 48px;
      font-size: 16px;
      background-color: #f5f5f5;
    }
  }

  &-getting-bonuses {
    margin-top: 14px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #1A2026;
    font-weight: 350;

    &__info {
      font-size: 14px;
      line-height: 16.8px;
    }

    &__rules {
      font-size: 12px;
      line-height: 12px;
      text-decoration: underline #1A2026 !important;
      cursor: pointer;
      user-select: none;
    }
  }

  &-field {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    position: relative;

    &__title {
      color: #bcbec0;
      position: absolute;
      top: 0;
      left: 0;
      transition: all .3s ease;
    }

    &__input {
      margin-top: 20px;
      padding: 16px;
      height: 48px;
      font-size: 14px;
      line-height: 14px;
      color: black;
      border: 1px solid #BCBEC0;
      width: 100%;

      &::placeholder {
        color: #BCBEC0;
        transition: all .3s ease;
      }

      &:focus::placeholder {
        opacity: 0;
      }
    }

    &__error {
      margin-top: 8px;
      font-size: 12px;
      line-height: 1.2;
      height: 15px;
      color: #BC0022;
      opacity: 0;
      pointer-events: none;
      transition: all .3s ease;
    }

    &.focus &__title {
      color: black;
    }

    &.focus &__field {
      border: 1px solid black;
    }

    &.has-error &__title {
      color: #BC0022;
    }

    &.has-error &__field {
      border: 1px solid #BC0022;
    }

    &.has-error &__error {
      opacity: 1;
      pointer-events: auto;
    }
  }

  &-button {
    display: flex;
    height: 48px;
    width: 100%;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    color: white;
    background-color: #1a2026;
    transition: .3s ease;

    &.inactive {
      color: white;
      background-color: #76797d;
    }

    &.outline {
      color: black;
      background-color: white;
      border: 1px solid black;

      &.inactive {
        color: #717478;
        background-color: white;
        border: 1px solid #717478;
      }
    }
  }

  &-counter {
    display: flex;
    padding: 7px 7px;
    border: 1px #414042 solid;
    width: 82px;
    gap: 1px;

    &__button {
      background: none;
      width: 15px;
      flex: 0 0 15px;
      text-align: center;
    }

    &__input {
      width: 100%;
      flex: 1 1 auto;
      text-align: center;
    }
  }

  &-delivery-locations {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    font-size: 20px;
    line-height: 24px;

    & .auten-field__title {
      font-weight: 350;
    }

    & .auten-field__input {
      width: 515px;
    }

    &__title {
      margin-bottom: 17px;
    }
  }

  &-delivery-methods {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    margin-top: 46px;
    margin-bottom: 101px;
  }

  &-delivery-method {
    display: grid;
    grid-template: "radio        title  " auto
                   "radio        address" auto
                   "radio        date   " auto
                   "radio        info   " auto
                  / min-content  auto;
    grid-column-gap: 51px;
    width: 100%;
    padding: 16px;
    cursor: pointer;
    user-select: none;
    transition: background-color .3s ease;

    &.active {
      background-color: #f3f3f3;
    }

    & .auten-radio {
      grid-area: radio;
      align-self: center;
    }

    &__title {
      grid-area: title;
      font-size: 16px;
      margin-bottom: 10px;
    }

    &__address {
      grid-area: address;
      font-weight: 350;
      font-size: 14px;
      margin-bottom: 16px;
    }

    &__date {
      grid-area: date;
      color: #8CBA51;
      font-weight: 350;
      font-size: 14px;
      line-height: 18.2px;
    }

    &__info {
      grid-area: info;
      margin-top: 10px;
      font-weight: 350;
      font-size: 12px;
      line-height: 14.4px;
    }
  }

  &-delivery-address {
    display: grid;
    grid-template: "street  street   house  " auto
                   "bulding entrance office " auto
                   "comment comment  comment" auto
                 / 1fr      1fr      1fr;
    gap: 10px;
    width: 515px;
    margin-bottom: 60px;

    &__street {
      grid-area: street;
    }

    &__house {
      grid-area: house;
    }

    &__bulding {
      grid-area: building;
    }

    &__entrance {
      grid-area: entrance;
    }

    &__office {
      grid-area: office;
    }

    &__comment {
      grid-area: comment;
    }
  }

  &-recipient {
    display: grid;
    grid-template: "fname lname" 1fr
                   "email phone" 1fr
                 / 1fr    1fr;
    gap: 10px;
    width: 100%;
    padding-top: 54px;
    margin-bottom: 100px;
    position: relative;

    &__title {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 20px;
      line-height: 24px;
    }

    &__first-name {
      grid-area: fname;
    }

    &__last-name {
      grid-area: lname;
    }

    &__email {
      grid-area: email;
    }

    &__phone {
      grid-area: phone;
    }
  }

  &-your-order {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 340px;

    &__title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    &__amount, &__total, &__discount, &__delivery, &__final {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      font-weight: 350;
      font-size: 16px;
    }

    &__final {
      font-weight: 400;
      font-size: 18px;
    }
  }

  &-radio {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid black;
    padding: 3px;
    cursor: pointer;
    display: block;

    &__input {
      display: none;
    }

    &:after {
      content: "";
      display: block;
      opacity: 0;
      transition: all .3s ease;
      width: 100%;
      height: 100%;
      background: black;
      border-radius: 50%;
    }

    &.checked:after {
      opacity: 1;
    }
  }

}